.hideButton {
  padding: 18px 30px;
  border-radius: 12.41px;
  border: none;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.1px;
  align-self: flex-end;
  color: #acadb9;
  background-color: transparent;
}

.hideButton:hover {
  cursor: pointer;
}
