footer {
  background-color: #eaeaea;
  padding: 40px 96px;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
}

.infoRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 29px;
  margin-top: 57px;
}

.linksGroup {
  display: flex;
  align-items: center;
  column-gap: 70px;
}

.text {
  color: #999999;
  font-family: var(--secondaryFont);
  font-size: 18px;
  font-weight: 500;
}
