.container {
  display: flex;
  flex-direction: column;
  margin: 100px 96px 131px;
}

.recipesCardGroup {
  display: flex;
  justify-content: center;
  column-gap: 30.4px;
  margin: 85.7px 0 65.7px;
}
