.details {
  margin-top: 30px;
}

.summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  animation: summary-flip 10s ease-in-out;
}

.question {
  font-weight: 600;
  font-size: 24px;
  line-height: 60px;
  color: var(--titleColor);
  margin: 0px 0px 10px 0;
}

.openButton,
.closeButton {
  width: 30px;
  height: 30px;
  background-size: cover;
  padding: 0px;
  background-color: none;
}

.openButton {
  background-image: url("../../../images/questionsPageImg/Plus.svg");
}

.closeButton {
  background-image: url("../../../images/questionsPageImg/Minus.svg");
}

.answer {
  margin: 0 0 40px 0;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 1%;
  position: relative;
  animation: slideDown 0.5s ease;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
