.details {
  margin-top: 30px;
  min-width: 100%;
}

.summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  list-style: none;
}

.question {
  font-weight: 600;
  font-size: 24px;
  line-height: 60px;
  color: var(--titleColor);
  margin: 0px 0px 10px 0;
}

.answer {
  margin: 0 0 40px 0;
  text-align: left;
  font-size: 20px;
  letter-spacing: 1%;
  overflow: hidden;
}

.open {
  line-height: 1.6;
  animation: slideDown 0.5s ease;
}

.hr {
  border: 1px solid #cbcbcb;
  margin: 0;
}

@keyframes slideDown {
  from {
    line-height: 0;
  }
  to {
    line-height: 1.6;
  }
}
