.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 116px 96px 274px;
}

.feedbackCardGroup {
  display: flex;
  column-gap: 40px;
  margin-top: 80px;
}

.cardDividerGroup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
