:root {
  --titleColor: #201F1F;
  --textColor: #676767;
  --primaryColor: #6C5FBC;
  --primaryFont: 'Poppins', sans-serif;
  --secondaryFont: 'Inter', sans-serif;
  --publicSansFont: 'Public Sans', sans-serif;
}

body {
  margin: 0;
  font-family: var(--primaryFont);
  color: var(--titleColor);
  background-color: #F9F9F9;
}